/*#button {*/
/*    position: fixed;*/
/*    left: 30%;*/
/*    top: 10px;*/
/*}*/
/*#blue {*/
/*    position: fixed;*/
/*    left: 40%;*/
/*    top: 10px;*/
/*}*/
#colors {
    width: 50%;
    margin: 0 auto; 
}

#container {
    width: 400px;
    height: 400px;
    position: fixed;
    left: 30%;
    top: 40px;
    /*max-width: 400px;*/
    /*max-height: 400px;*/
    /*align-items: center;*/
    border: 20px solid #de1d20;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: stretch; /* Safari 7.0+ */
    display: flex;
    align-items: stretch;
}

.square {
    display: inline-block;
    min-width: 4px;
    min-height: 4px;
    max-width: 100px;
    max-height: 100px;
    /*float: left;*/
    background-color: #f3f3f3;
    flex: 1;
    opacity: .1;
}
/*table, td {*/
/*    border: 0px;*/
/*    border-collapse: collapse;*/
/*    padding: 0px;*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/*.row {*/
    /*min-height: 4px;*/
/*}*/